@import './scss/bootstrap-grid.scss';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

html,
button {
	font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;

	&:visited,
	&:active {
		color: inherit;
	}
}

html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


a {
	color: rgb(134, 62, 210);
}

.headline {
	width: 240px;
	margin: 0 auto;
	position: relative;

	color: rgb(134, 62, 210);
	background: linear-gradient(15deg, rgb(134, 62, 210) 20%, rgb(69, 46, 198) 80%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	/* fix for IE*/
	@media all and (-ms-high-contrast: none),
	(-ms-high-contrast: active) {
		background: transparent;
	}

	&.line::before {
		content: '';
		position: absolute;
		background: linear-gradient(to right, #0cebeb, #20e3b2);
		border-radius: 5px;
		height: 5px;
		width: 60px;
		font-weight: 700;
		top: -20px;
		left: 90px;
	}

	&.line.white::before {
		background: #fff
	}

	&.line.white {
		-webkit-background-clip: initial;
		background-clip: initial;
		-webkit-text-fill-color: initial;
		color: #fff;
		background: transparent;
	}
}

.s-headline {
	width: 240px;
	margin: 0 auto;
	position: relative;
	text-align: center;

	color: rgb(134, 62, 210);
	background: linear-gradient(15deg, rgb(134, 62, 210) 20%, rgb(69, 46, 198) 80%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	@media all and (-ms-high-contrast: none),
	(-ms-high-contrast: active) {
		background: transparent;
	}
}

.btn {
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 15px 20px;
	text-decoration: none;

	line-height: 20px;
	font-size: 15px;
	font-weight: 500;
	transition: all 0.15s ease;

	box-shadow: 0 8px 16px rgba(250, 149, 71, 0.25);
	background: rgba(250, 149, 71, 1);
	background: linear-gradient(109.6deg, rgba(250, 165, 147, 1) 11.2%, rgba(250, 149, 71, 1) 91.1%);
	color: #fff;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 8px 16px rgba(250, 149, 71, 0.4);
	}

	&:active {
		transform: translateY(1px);
		box-shadow: 0 8px 16px rgba(250, 149, 71, 0.1);
	}

	&:focus {
		transform: translateY(-3px);
		opacity: 0.8;
	}

	display: flex;

	i {
		font-size: 20px;
		padding: 0 10px 0 0;
	}

	&.github {
		background-image: linear-gradient(240deg, rgba(77, 88, 105, 1) 4.8%, rgba(39, 43, 57, 1) 86.7%);
		box-shadow: 0 8px 16px rgba(39, 43, 57, 0.25);
		color: #fff;

		&:hover {
			background-image: linear-gradient(240deg, rgba(77, 88, 105, 1) 4.8%, rgba(39, 43, 57, 1) 86.7%);
			box-shadow: 0 8px 16px rgba(39, 43, 57, 0.4);
		}

		&:active {
			background-image: linear-gradient(240deg, rgba(77, 88, 105, 1) 4.8%, rgba(39, 43, 57, 1) 86.7%);
			box-shadow: 0 8px 16px rgba(39, 43, 57, 0.1);
		}
	}

	&.facebook {
		background-image: linear-gradient(240deg, rgb(103, 148, 236) 3.6%, rgb(66, 103, 178) 80.9%);
		box-shadow: 0 8px 16px rgba(66, 103, 178, 0.25);
		color: #fff;

		&:hover {
			background-image: linear-gradient(240deg, rgb(103, 148, 236) 3.6%, rgb(66, 103, 178) 80.9%);
			box-shadow: 0 8px 16px rgba(66, 103, 178, 0.4);
		}

		&:active {
			background-image: linear-gradient(240deg, rgb(103, 148, 236) 3.6%, rgb(66, 103, 178) 80.9%);
			box-shadow: 0 8px 16px rgba(66, 103, 178, 0.1);
		}
	}

	&.linkedin {
		background-image: linear-gradient(240deg, rgb(0, 180, 240) 3.6%, rgb(0, 144, 194) 86.9%);
		box-shadow: 0 8px 16px rgba(0, 144, 194, 0.25);
		color: #fff;

		&:hover {
			background-image: linear-gradient(240deg, rgb(0, 180, 240) 3.6%, rgb(0, 144, 194) 86.9%);
			box-shadow: 0 8px 16px rgba(0, 144, 194, 0.4);
		}

		&:active {
			background-image: linear-gradient(240deg, rgb(0, 180, 240) 3.6%, rgb(0, 144, 194) 86.9%);
			box-shadow: 0 8px 16px rgba(0, 144, 194, 0.1);
		}
	}
}

/*NavigationBar Component*/
header#navigation-bar {
	position: absolute;
	height: 80px;
	line-height: 60px;
	width: 100%;
	color: #fff;
	padding: 10px 0;
	transition: all 0.2s ease;
	position: fixed;
	z-index: 100;

	// Not transparent menu
	&.invert {
		background: #fff;
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);

		a.brand {
			color: rgb(134, 62, 210) !important;
		}

		ul.links {
			button {
				color: rgb(134, 62, 210) !important;

				&:before {
					background: rgb(134, 62, 210) !important;
				}

			}
		}

		ul.social-links {
			a {
				color: rgb(134, 62, 210) !important;
			}
		}
	}

	//Inner nav
	nav.navigation-inner {
		justify-content: space-between;
		align-items: baseline;
	}

	//Brand link
	a.brand {
		cursor: pointer;
		font-weight: 700;
		font-size: 19px;
		color: white;
	}

	//Navigation links
	ul.links {
		display: none;
		list-style: none;

		@media (min-width: 992px) {
			display: flex;
		}

		li {
			position: relative;
			margin: 0 14px;

			button {
				cursor: pointer;
				color: #fff;
				text-decoration: none;
				border: none;
				font-size: 16px;
				background: transparent;
				outline: none;

				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					bottom: 12px;
					left: 0;
					background: #fff;
					opacity: 0.3;
					visibility: hidden;
					border-radius: 0px;
					transform: scaleX(0);
					transition: 0.2s ease-in-out;
				}

				&:hover:before,
				&:focus:before {
					visibility: visible;
					transform: scaleX(1);
				}
			}
		}
	}

	//Social links
	ul.social-links {
		display: flex;
		list-style: none;

		li {
			margin: 0 14px;

			a {
				cursor: pointer;
				color: #fff;
				text-decoration: none;
				transition: all 0.2s ease;
				opacity: 0.7;
				font-weight: 600;
			}

			a:hover {
				opacity: 1;
			}

			i {
				font-size: 20px;
			}
		}

	}
}

//HeroSection Component
section#hero-section {

	height: 550px;
	width: 100%;
	padding: 60px 0 240px 0;
	background: linear-gradient(-45deg, rgba(134, 62, 210, 0.88), rgba(69, 46, 198, 0.88)), url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
	background-size: cover;

	//Inner nav
	div.profile {

		width: 450px;
		height: 700px;
		margin: 100px auto;
		display: flex;
		border-radius: 10px;
		background: #fff;
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);

		@media (min-width: 992px) {
			width: 850px;
			height: 450px;
			margin: 100px auto;
		}

		div.me {
			width: 400px;
			height: 450px;
			border-radius: 9px 0 0 9px;

			background-size: 550px;
			background-position-x: -110px;
			background-position-y: 0px;
		}

		div.details {
			width: 450px;
			padding: 30px 30px 10px 0px;
			display: flex;
			flex-direction: column;

			h1 {
				color: rgb(134, 62, 210);
				background: linear-gradient(15deg, rgb(134, 62, 210) 20%, rgb(69, 46, 198) 80%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: 700;

				// fix for IE
				@media all and (-ms-high-contrast: none),
				(-ms-high-contrast: active) {
					background: transparent;
				}

				margin: 15px 0 15px 0;
			}

			p {
				font-size: 15px;
				color: #aab;
				font-weight: 500;
				padding: 10px 0;
			}

			.hr-line {
				height: 1px;
				width: 100%;
				background: #eee;

				margin-bottom: 10px;
			}

			ul {
				list-style: none;
				color: #667;

				li {
					height: 25px;
					margin: 20px 0;
					display: flex;
					line-height: 25px;
				}

				i {
					color: rgba(134, 62, 210, 0.9);
					font-size: 25px;
					margin-right: 10px;
					font-weight: 600;
				}
			}
		}
	}
}

//AboutSection Component
section#about-section {
	padding: 10px 0 140px 0;
	height: auto;
	width: 100%;

	.about {
		padding: 120px 0 10px 0;
		text-align: center;
		width: 600px;
		margin: 0 auto;

		.text {
			width: 700px;
			margin: 0 auto;
			padding: 40px 0 60px 0;
			color: #667;
			line-height: 28px;
		}

		.download {
			margin: 0 auto;
		}
	}
}

//ExperienceSection Component
section#experience-section {
	height: auto;
	width: 100%;
	padding: 10px 0 0 0;
	background: linear-gradient(-45deg, rgba(134, 62, 210, 0.93), rgba(69, 46, 198, 0.93)), url('https://images.unsplash.com/photo-1521055654799-26999bb3a60c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2614&q=80');
	background-size: cover;
	background-position: center;
}



/* 

#experience-section {
	height: auto;
	width: 100%;
	padding: 10px 0 0 0;
	background: linear-gradient(-45deg, rgba(134, 62, 210, 0.93), rgba(69, 46, 198, 0.93)), url('https://images.unsplash.com/photo-1521055654799-26999bb3a60c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2614&q=80');
	background-size: cover;
	background-position: center;
}

.experience {
	width: 100%;
	padding: 140px 0 0px 0;

	.description {
		width: 600px;
		margin: 0 auto;
		padding: 40px 0 110px 0;
		color: rgba(255, 255, 255, 0.8);
	}

	.container {
		width: 450px;
		margin: 0 auto;

		.time-section {
			display: flex;
			flex-direction: row;
			justify-items: start;

			.side {
				display: flex;
				flex-direction: column;
				.date {
					background: rgba(255, 255, 255, 0.3);
					color: rgba(255, 255, 255, 0.9);
					padding: 10px 0px;
					width: 140px;
					text-align: center;
					border-radius: 5px;
				}

				.line {
					margin: 0 0 0 90px;
					justify-self: end;
					width: 4px;
					background: rgba(255, 255, 255, 0.3);
					height: 60px;
				}
			}
			.title {
				padding: 0 20px 0 20px;
				color: rgba(255, 255, 255, 0.8);
				align-self: baseline;
				height: auto;
			}
		}
	}
} */