$color-primary: rgb(3, 150, 255);
$gradient-primary: linear-gradient(15deg, rgb(134, 62, 210) 20%, rgb(69, 46, 198) 80%);
$gradient-github: linear-gradient(240deg, rgb(77, 88, 105) 4.8%, rgb(39, 43, 57) 86.7%);
$gradient-facebook: linear-gradient(240deg, rgb(103, 148, 236) 3.6%, rgb(66, 103, 178) 80.9%);
$gradient-linkedin: linear-gradient(240deg, rgb(0, 180, 240) 3.6%, rgb(0, 144, 194) 86.9%);
//$gradient-primary-image: linear-gradient(-45deg, rgba(134, 62, 210, 0.93), rgba(69, 46, 198, 0.93));
$gradient-primary-image: linear-gradient(180deg, rgba(3, 150, 255, 1), rgba(3, 150, 255, 0.8));
